body {
  padding: 100px;
}
.submit-area {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  padding: 50px;
}

#translation-area {
  display: none;
  padding-left: 50px;
}
.commons {
  margin: 0 2-px;
  text-align: center;
  border-radius: 10px;
  color: white;
  padding: 30px;
}
.deposit {
  background-color: rgb(33, 33, 201);
}
.withdraw {
  background-color: rgb(190, 201, 33);
}
.balance {
  background-color: rgb(192, 30, 197);
}
